
	nav{
		background-color: lime;
		width:1255px;
		height: 97px;
		display: flex;
		justify-content: !important;
		margin-left: 80px;
		
	
	}
	aside{
		background-color: lime;
		width: 100px;
		height:475px;
		display: flex;
		margin-top: -380px;

	}
	footer{
		background-color: lime;
		width:1187px;
		display:flex;
		bottom: 80px;
		margin-left:150px;
		height: 100px;
		position: fixed;
	}
.box1{

background-color: lime;
margin-left: 170px;
width: 170px;
height:170px;

}
.box2{
width:170px;
height:170px;
margin-left:170px;
margin-top:10px;
background-color: lime;

}
body{position: fixed;}
.box3{
width:950px;
height:100px;
margin-top:10px;
margin-left:380px;
margin-top: -250px;
background-color: lime;
display:flex;
}

.box6{
width:70px;
height:187px;
margin-top:10px;
margin-left:1000px;
margin-top: -298px;
background-color: lime;
display:flex;
}
.box7{
width:70px;
height:187px;
margin-top:10px;
margin-left:600px;
margin-top: -185px;
background-color: lime;
display:flex;
}
.box5{
width:70px;
height:187px;
margin-top:10px;
margin-left:800px;
margin-top: -190px;
background-color: lime;
display:flex;
}
/*
{
	background-color: lime;
	width: 50px;
	display: inline-block;
	flex-direction:column;

}
.box4{
	display: inline-flex;
    margin-left:1150px;
    margin-top:140px;
    display: inline-flex;
    background-color: lime;

}







